/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.top-bar {
    background-color: #333;
    padding: 10px 0;
}

.top-bar nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.top-bar nav ul li {
    display: inline;
    margin-right: 20px;
}

.top-bar nav ul li:last-child {
    margin-right: 0;
}

.top-bar nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.top-bar nav ul li a:hover {
    color: #8cff57;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    color: #333;
    font-size: 32px;
    margin-bottom: 5px;
}

header p {
    color: #666;
    font-size: 18px;
}

.about h2, .experience h2, .education h2, .skills h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
    border-bottom: 2px solid #8cff57;
    padding-bottom: 5px;
}

.job h3, .degree h3 {
    color: #8cff57;
    font-size: 20px;
    margin-bottom: 5px;
}

.job p, .degree p {
    color: #666;
    font-size: 16px;
    margin-bottom: 10px;
}

.skills ul {
    list-style: none;
}

.skills li {
    background-color: #8cff57;
    color: #333;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #666;
    font-size: 16px;
}
